<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Raamatukogusüsteem RAAMAT</h1>
  <button (click)="this.loginService.logout()" class="logout-button">Logi välja</button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [opened]="!isCollapsed" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/list" routerLinkActive="active-link">
        <span class="entry">
          <mat-icon>search</mat-icon>
          <span>Otsi raamatut</span>
        </span>
      </a>
      <a mat-list-item (click)="this.openAddBookDialog()" *ngIf="loginService.isAdmin()">
        <span class="entry">
          <mat-icon>library_add</mat-icon>
          <span>Lisa raamat</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="example-header">
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Autor" #authorInput [(ngModel)]="author">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Pealkiri" #titleInput [(ngModel)]="title">
        </mat-form-field>
        <button class="search-button" (click)="search(authorInput.value, titleInput.value)">Otsi raamatut</button>
        <button mat-button (click)="clearFilters()">Tühjenda filter</button>
      </div>
    </div>

    <div class="list-container mat-elevation-z8">
      <mat-table [dataSource]="books" matSort>
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Pealkiri </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="author">
          <mat-header-cell *matHeaderCellDef> Autor </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.author}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="publicationYear">
          <mat-header-cell *matHeaderCellDef> Väljastamise aasta </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.publicationYear}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="bookedUntil">
          <mat-header-cell *matHeaderCellDef>Broneeritud kuni</mat-header-cell>
          <mat-cell *matCellDef="let row"> <span>{{ row.bookedUntil | date:'dd.MM.yyyy' }}</span> </mat-cell>
        </ng-container>
        <ng-container matColumnDef="reserve">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button (click)="reserveBook(row.id)" *ngIf="!row.bookedUntil && loginService.isUser()">
              Broneeri
            </button>
            <button mat-button (click)="cancelBookReservation(row.id)" *ngIf="row.bookedUntil && !row.received &&
            (loginService.isAdmin() || isLoggedInUserBooked(row.bookedByUserId))">
              Tühista broneering
            </button>
            <button mat-button (click)="receiveBook(row.id)" *ngIf="row.bookedUntil && !row.received && loginService.isUser()
            && isLoggedInUserBooked(row.bookedByUserId)">
              Kätte saadud
            </button>
            <button mat-button (click)="returnBook(row.id)" *ngIf="row.received && loginService.isUser() && isLoggedInUserBooked(row.bookedByUserId)">
              Tagastan
            </button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions" *ngIf="loginService.isAdmin()">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="deleteBook(row.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
      <mat-paginator  [length]="totalElements"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="pageSizeOptions"
                      (page)="onPageChange($event)">></mat-paginator>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

